* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  position: relative;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 20px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.input-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

.input-btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.total-task {
  position: absolute;
  top: 90%;
}

.to-do-box {
  list-style: none; /* Remove default list styling */
  padding: 0;
}

.to-do-box li {
  display: inline-block;
  width: 70%;
  background-color: #153677;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
  padding-right: 25px;
  text-align: justify;
  margin-top: 10px;
}

.to-do-box li i {
  position: absolute;
  right: 10px;
  top: 10px;
}
